<%= render "partials/header" %>

<div class="index-all">
    <div class="container page">
        <div class="row first-line-profile">
            <h3>DETAILS DU FAVORIS</h3>
        </div>
        <div class="panel second-line">
            <div class="panel-heading" style="display:flex;justify-content:space-between">
                <table class="profil-table">
                    <tr>
                        <td>
                            <div class="profil-pic">
                                <% if @favorite.post.user.photo.url %>
                                <%= image_tag @favorite.post.user.photo.url, width: "100%" %>
                                <% else %>
                                <%= image_tag "/images/user_insta.png", width: "100%" %>
                                <% end %>
                            </div>  
                        </td>
                        <td>
                            <h3 class="panel-title"><strong><%= @favorite.post.user.username %></strong></h3>
                        </td>
                    </tr>
                </table>
                <div class="btn-group" role="group" aria-label="...">
                    <%= link_to 'Back', favorites_path, class: "btn btn-default btn-sm" %>
                </div>
            </div>
            <div class="panel-body" style="padding: 0;margin: 0;">
                <%= image_tag @favorite.post.photo.url, width: "100%", alt: "" if @favorite.post.photo %>            
            </div>
            <div class="panel-heading" style="border: 0;">
                <table>
                    <tr>
                        <td>
                            <button class="btn btn-default" type="button">
                                Like <span class="badge"><%= @favorite.post.favorites.count %></span>
                            </button>
                        </td>
                    </tr>
                    <tr >
                        <td>
                            <blockquote class="text-justify" style="margin-top: 5px;">
                                 <%= @favorite.post.content %>
                            </blockquote>
                        </td>
                    </tr>
                    <tr>
                        <td style="color: rgb(192, 192, 192);">
                            <em>Posté le <%= @favorite.post.created_at.to_s.to_time.strftime('%e-%m-%Y à %k:%M') %></em>
                        </td>
                    </tr>
                    <tr>
                        <td style="color: rgb(192, 192, 192);">
                            <em>Mis à jour le <%= @favorite.post.updated_at.to_s.to_time.strftime('%e-%m-%Y à %k:%M') %></em>
                        </td>
                    </tr>
                </table>    
            </div>
        </div>

        <div class="row text-justify" style="margin: 0px 0 50px 0;"></div>
    </div>

    <%= render "partials/footer" %>

</div>